/*
Шапка диалога
*/

#dialog-modal-rec, #dialog-modal-part, #dialog-modal-page { 
min-width: 500px;
color: #4B4B4B; 
overflow: hidden; 
padding: 4px;
margin-top:10px;
}

.textbox {
	border: 2px inset #ffffff !important;
    display: inline-block;
	font: 16px Arial,Helvetica,sans-serif !important;
	float: left;
	height: 20px;
	width: 99%;
	color: #000000;
    border-radius: 3px 3px 3px 3px;
    margin: 2px auto;
    padding: 1px 0 1px 3px;	
}

input.pinput {
    display: inline-block;
	font: 16px Arial,Helvetica,sans-serif !important;
	float: left;
	height: 20px;
	width: 99%;
	color: #000000;
    border-radius: 3px 3px 3px 3px;
    margin: 2px auto;
    padding: 1px 0 1px 3px;	
}

/*textarea.field_arr { width: 100%; height: 150px;}*/
 
textarea.field_arr { 
	width: 100%; height: 270px;
    border-radius: 3px 3px 3px 3px;
    margin: 2px auto;
    padding: 1px 0 1px 3px;
	font: 16px Arial,Helvetica,sans-serif !important;	

}
textarea.field_head { 
	width: 99%; height: 100px;
    border-radius: 3px 3px 3px 3px;
    margin: 2px auto;
    padding: 1px 0 1px 3px;
	font: 16px Arial,Helvetica,sans-serif !important;	
}

#dialog-modal-page input[type='button'], #dialog-modal-menu input[type='submit'], #dialog-modal-menu input[type='button'] {
	background: url("/system/main/editor/images/editor_but_87.png") repeat-x scroll 0 0 #cccccc !important;
    color: #1B1B1B !important;
	font-size: 12px !important;
	font-family: arial !important;
	border-radius: 3px 3px 3px 3px !important;
	border:1px solid #929292;
	cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
	padding: 7px 22px !important;
}

#dialog-modal-page ul, #dialog-modal-page table { 
  font-family: arial;
  font-size: 12px;
  margin: 0px;
}

.txtedithover:hover { outline: 1px dashed #ff0000; padding: 2px; margin:-2px; display: inline-block; }
.itemRecordHeader { position: absolute; }


.group-header.ui-widget-header,.editallbox {
    background: url("/system/main/editor/images/ose_103.gif") no-repeat scroll 0 50% #F1F8FF !important;
    outline: 1px solid #85A8C6 !important;
    border-radius: 4px 4px 4px 4px !important;
    height: 23px !important;
    margin: -23px 0 0 -2px !important;
    padding: 0 8px !important;
    position: absolute !important;
    visibility: visible;
}

.ui-widget-header { 
	cursor: move !important;
	border: 0 !important;
}

.se-edit-record,.se-edit-content { cursor: pointer; color: #0000ff !important; }

.se-add-record { visibility: hidden; cursor: pointer; }

.itemRecordHeader { display:none; visibility: hidden; outline: 1 solid #404040; cursor: move; }


.groupItem {
	border-radius: 3px 3px 3px 3px;
        margin: 0 0 15px; 
    /*box-shadow: 0 0 0 3px #CCCCCC;*/
	/*border: 3px solid #404040;*/
}	

.groupItem .ui-widget-header {
	visibility: hidden;
}

.ui-dialog {
	background: url("/system/main/editor/images/editor_60.png") repeat-x scroll 0 -3px #eeebdf !important;
	border-radius: 8px 8px 8px 8px !important;
	color:#4B4B4B !important;
}

#tabs-part, #tabs-page {
	position: relative;
    top: 1px;
	padding: 0;
	margin: 0;
}

#tabs-rec {
	position: relative;
	padding: 0;
	margin: 0;
}

#tabs-part .ui-widget-header, #tabs-page .ui-widget-header, #tabs-rec .ui-widget-header {
	background: none repeat scroll 0 0 transparent !important;
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

.ui-dialog .ui-widget-header {
	border: 0 !important;
}

#tabs-part.ui-tabs, #tabs-rec.ui-tabs, #tabs-page.ui-tabs {
    margin-top: 0px !important;
	top: -4px !important;
	/*background: none repeat scroll 0 0 transparent !important;*/
	border: 0 !important;
}

#dialog-modal-part .ui-tabs, .ui-dialog, #dialog-modal-part .ui-dialog-titlebar, #dialog-modal-page .ui-tabs,
#dialog-modal-page .ui-dialog-titlebar {
    padding-top: 0 !important;
	margin-top: 0 !important;
}


.ui-dialog .ui-dialog-title {
    color: #000000 !important; 
    position: absolute !important;
	font-weight: bold !important;
    top: 7px !important;
	float: left !important;
    margin: 0.1em 16px 0.1em 0 !important;
}

.ui-tabs .ui-tabs-nav {
    padding: 0 !important;
	margin-top: 0px !important;
	line-height: 1 !important;
	vertical-align: bottom !important;
}

.ui-tabs .ui-tabs-nav li {
	background: url("/system/main/editor/images/editor_tab_01.png") repeat-x scroll 0 100% #eeebdf !important;
	margin: 0 0 4px 0 !important;
    padding: 0 !important; 	
	vertical-align: bottom !important;
	border:1px solid #d9d5c9 !important;
	display:block !important;
	float:none !important;
	border-radius:4px !important;
	width: 145px;
}

.ui-tabs .ui-tabs-nav li a {
	padding:10px !important;
	float:none !important;
	display:block !important;
	white-space: normal;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background-color: #ffffff !important;
	background-image: none !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    
}


/*
#ui-dialog-title-dialog-modal-part, #ui-dialog-title-dialog-modal-page { display: none !important; }
*/
/*  высота и внешний вид кнопки табулятора */
.ui-dialog .ui-dialog-titlebar {
    background: none repeat scroll 0 0 transparent !important;
    height: 22px !important;
    position: relative !important;
    right: 0 !important;
    width: auto !important;
}



.ui-dialog .ui-dialog-titlebar-close {
    position: absolute !important;
    right: 4px !important;
	float: right !important;
	top: 13px !important;
	cursor: pointer !important;
    margin-right: 3px !important;
	background-image: url("/system/main/editor/images/editor_65.png") !important;
	background-color: transparent !important;
    background-position: 0 50% !important;
    height: 25px !important;
    width: 25px !important;
    background-repeat: no-repeat !important;
    display: block !important;
    overflow: hidden !important;
	padding: 0 !important;
	z-index: 11 !important;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
	background-position: 100% 50% !important;
}

.ui-dialog .ui-icon-closethick {
    background-image: url("/system/main/editor/images/editor_65.png") !important;
    display: none !important;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
	border:0 !important;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #000000 !important;
    text-decoration: none !important;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none repeat scroll 0 0 transparent !important;
    color: #CCCCCC !important;
    font-weight: normal !important;
	font-size: 13px !important;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	font-weight: bold !important;
    text-decoration: none !important;
}

.ui-state-active a {
    
}

.ui-dialog .ui-dialog-buttonpane button {
    background: url("/system/main/editor/images/editor_but_87.png") repeat-x scroll 0 0 #cccccc !important;
    color: #1B1B1B !important;
	font-size: 12px !important;
	font-family: arial !important;
	border-radius: 3px 3px 3px 3px !important;
	border:1px solid #929292;
	cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
}

.ui-button-text-only .ui-button-text {
    padding: 7px 22px !important;
    display: block !important;
    line-height: 1.4 !important;
}
	
	
	
.EdbuttonSend {
    display: inline-block;
    position: relative;
    background: url("/system/main/editor/images/editor_but_87.png") repeat-x scroll 0 0 #A6A6A6;
    border-radius: 3px 3px 3px 3px;
    font-family: arial;
    font-size: 11px;
    font-weight: normal;
    cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
    border: 0 none;
    text-align: center;
    text-decoration: none !important;
    line-height: 1.4;
    padding: 3px 9px;
    color: #403F3F;
}

.bgcshadow {
    border-radius: 6px;
    margin: 0;
    outline: 3px solid #404040;
}

.group-header {
    height: 20px;
    padding-bottom: 4px;
    padding-left: 0.2em;
    padding-top: 2px;
	z-index: 500;
}

.group-header .ui-icon { display: none; float: right; }
/*.group-content { padding: 0.4em; }*/

.ui-sortable-placeholder { 
	outline: 1px dashed #000000 !important; 
	visibility: visible !important; 
	height: 50px !important; 
	max-height:20px !important; 
}
.ui-sortable-placeholder:hover { outline: 1px solid #ff0000 !important; }
.ui-sortable-placeholder * { visibility: hidden !important; }
	
.groupMenu1 .itemMenu
{
	line-height: 20px;
	background-color: #6aafff;
	color: #000;
	padding: 0 10px;
	cursor: move;
	font-weight: bold;
	font-size: 12px;
	height: 20px;
	position: relative;
}

.groupItem .group-header1
{
	line-height: 28px;
	background-color: #6aafff;
	border-top: 2px solid #3D4749;
	color: #000;
	padding: 0 10px;
	cursor: move;
	font-weight: bold;
	font-size: 16px;
	height: 28px;
	position: relative;
}
.groupItem .group-header1 a
{
	float: right;
	right: 10px;
	color: #ffffff;
	top: 0px;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}
.editorhtitle { 
	display: none; 
}

.ui-widget-content {
    /* background: none !important; */
    border: 0 !important;
    /*color: #333333;*/
}

/* ------------------------------------------------ */
.imgareaselect-border1 {
	background: url(border-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(border-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(border-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(border-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.imgareaselect-outer {
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.imgareaselect-selection {  
}