/* Selectmenu
----------------------------------*/
.ui-selectmenu { display: block; position:relative; height:2em; text-decoration: none; overflow:hidden; z-index: 999;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 1.4em; display:block; padding:.3em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

#filePages-menu {
	border: 1px solid #969696;
    border-radius: 3px 3px 3px 3px;
    background: url("/system/main/editor/images/editor_60.png") repeat-x scroll 0 -38px #EEEBDF;
    font-family: arial;
    max-height: 400px;
    left: 85px;
    top: 63px !important;
    width: 400px;
    z-index: 1000;
	position: fixed; 
}

#thislang-menu {
	border: 1px solid #969696;
    border-radius: 3px 3px 3px 3px;
    background: url("/system/main/editor/images/editor_60.png") repeat-x scroll 0 -38px #EEEBDF;
    font-family: arial;
    left: 85px;
    top: 63px !important;
    width: 100px;
    z-index: 1000;
	position: fixed; 
}

#filePages-menu li, #thislang-menu li {
    background: url("/system/main/editor/images/trsepmenu.png") repeat-x scroll 0 0 transparent;
	margin: 0 0 1px 0;
	border-top: 0 !important;
	border-bottom: 0 !important;
	border: 0 !important;
	padding: 4px 0;
} 

#filePages-menu li.ui-state-hover, #thislang-menu li.ui-state-hover {
    background: none repeat-x scroll 0 0 #ffffff;
	border-top: 0 !important;
	border-bottom: 0 !important;
	border: 0 !important;
}

#filePages-menu li.ui-selectmenu-item-selected, #thislang-menu li.ui-selectmenu-item-selected {
    background: none repeat-x scroll 0 0 #ffffff;
}


#filePages-menu li a {
    background: url("/system/main/editor/images/edit_page.png") no-repeat scroll 0 4px transparent;
    color: #343434;
    font-size: 10px;
    margin: 0 0 0 13px;	
    display: block;
    line-height: 1.4em;
    outline: medium none;
    padding: 0.3em 1.8em;
    text-decoration: none;	
} 

#thislang-menu li a {
   /* background: url("/system/main/editor/images/edit_page.png") no-repeat scroll 0 4px transparent;*/
    color: #343434;
    font-size: 10px;
    margin: 0 0 0 13px;	
    display: block;
    line-height: 1.4em;
    outline: medium none;
    padding: 0.3em 1.8em;
    text-decoration: none;	
}

#filePages-menu li a span.ui-selectmenu-item-header, #thislang-menu li a span.ui-selectmenu-item-header {
	font-size: 12px;
	color: #343434;
    font-weight: bold;
	margin-bottom: 0;
} 